.q-one{
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .q-2{
      margin: 0 250px;
      text-align: justify;
  }
  .q-2 h2{
      text-align: center;
  }

  @media screen and (max-width: 400px) {
    .q-2{
        margin: 0 20px;
      text-align: justify;
    }
}