.product img{
    width: 286px;
    height: 286px;
    border-radius: 10px;
    margin: 7px;
}
.product{
    margin: 60px auto;
    width: 300px;
    height: 510px;
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
}
.product-info{
    margin: 0 5px;
}
.product-info p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0px;
}
.product-name{
    margin-top: 7px;
}
.btn-cart{
    border: none;
    width: 100%;
    background-color: coral;
    border-radius: 0px 0px 8px 8px;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-text{
    margin-right: 10px;
    font-weight: 700;
}
.btn-cart:hover{
    background-color: orange;
}
@media screen and (max-width: 500px){
    .product{
        display: block;
        /* grid-template-columns: repeat(2 , 1fr); */
    }
}